<div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="title">Hashtag Statistics</h1>
    </div>
    <div class="col-lg-12 form-group">
      <table class="table">
        <thead>
          <th>No</th>
          <th>Link</th>
          <th>Comments</th>
        </thead>
        <tbody>
         <% @links.each do |link|%>
          <tr>
            <td><%=link.id+1%></td>
            <td><%=link_to "#{link.link}", link.link%></td>
            <td><%= link_to "#{@comment_count[link.id]}", show_path(id: link.id) %></td>   
        <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>